.button-primary {
    background-image: url('project://database/Assets/UserInterface/3rdParty/Cyberpunk_RPG_UI/UI_Parts/Chip_6_g.png?fileID=2800000&guid=3887ba5c83d43d34e85197866d1032e2&type=3#Chip_6_g');
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(188, 188, 188, 0);
    width: 125px;
    height: 75px;
    -unity-font: url('project://database/Assets/UserInterface/Fonts/Valorax.otf?fileID=12800000&guid=b100759de6b694a808315e3382fe7ed8&type=3#Valorax');
    -unity-font-definition: url('project://database/Assets/UserInterface/Fonts/Valorax%20SDF.asset?fileID=11400000&guid=54bae48c509e54c37bc19c20a4380eb1&type=2#Valorax SDF');
    color: rgb(9, 206, 211);
    font-size: 14px;
}

.button-primary-selected {
    background-image: url('project://database/Assets/UserInterface/3rdParty/Cyberpunk_RPG_UI/UI_Parts/Chip_6.png?fileID=2800000&guid=a3bf107b52733314b9fe25eaa3ae4650&type=3#Chip_6');
}

.button-primary:hover {
    background-image: url('project://database/Assets/UserInterface/3rdParty/Cyberpunk_RPG_UI/UI_Parts/Chip_6.png?fileID=2800000&guid=a3bf107b52733314b9fe25eaa3ae4650&type=3#Chip_6');
}

.inventory-item {
    width: 50px;
    height: 50px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(188, 188, 188, 0);
    -unity-font: url('project://database/Assets/UserInterface/Fonts/Azonix.otf?fileID=12800000&guid=75b083ec1e94f48fdb13ae3c1f289bb8&type=3#Azonix');
    -unity-font-definition: url('project://database/Assets/UserInterface/Fonts/Azonix%20SDF.asset?fileID=11400000&guid=06f2868e1d20247d3901194d9a377ec0&type=2#Azonix SDF');
    font-size: 10px;
    color: rgb(255, 255, 255);
}
